<script setup lang="ts">
import { ref, computed } from 'vue';
import Counter from './components/Counter.vue';

// const adding = ref(false);
// const startMatch = ref(true);

const adding = ref(true);
const startMatch = ref(false);

const doAdd = (e: boolean) => {
  adding.value = e;
  newTeam.value = '';
};
const doStartMatch = (e: boolean) => {
  startMatch.value = e;
};
const teams = ref([
  {
    id: 0,
    label: 'Barbapapa',
    position: 2,
    isLeader: false,
    color: 'bg-blue-400',
    points: 0,
  },
  {
    id: 1,
    label: 'Party people',
    position: 1,
    color: 'bg-green-400',
    isLeader: false,
    points: 0,
  },
  {
    id: 2,
    label: 'Cookies',
    position: 0,
    color: 'bg-orange-400',
    isLeader: false,
    points: 0,
  },
]);
const sortedTeams = computed(() => {
  return [...teams.value].sort((a, b) => a.position - b.position);
});
const rankedTeams = computed(() => {
  return [...sortedTeams.value].sort((a, b) => b.points - a.points);
});
const newTeam = ref('');
const cards = ref([
  {
    id: 0,
    label: 'King',
    color: 'bg-orange-400',
    cardIcon: 'game-icons:card-king-hearts',
  },
  {
    id: 1,
    label: 'Ace',
    color: 'bg-green-400',
    cardIcon: 'game-icons:card-ace-hearts',
  },
  {
    id: 2,
    label: 'Queen',
    color: 'bg-blue-400',
    cardIcon: 'game-icons:card-queen-hearts',
  },
  {
    id: 3,
    label: 'Jack',
    color: 'bg-yellow-400',
    cardIcon: 'game-icons:card-jack-hearts',
  },
  {
    id: 4,
    label: '10',
    color: 'bg-pink-400',
    cardIcon: 'game-icons:card-10-hearts',
  },
]);
const newTeamCard = ref('');

const isDisabled = computed(() => {
  return newTeam.value.length === 0 || newTeamCard.value.length === 0;
});

const saveTeam = () => {
  teams.value.push({
    id: teams.value.length + 1,
    label: newTeam.value,
    position: +newTeamCard.value,
    color: cards.value[+newTeamCard.value].color,
    isLeader: false,
    points: 0,
  });
  newTeam.value = '';
  newTeamCard.value = '';
};
const kingSidePoint = () => {
  sortedTeams.value[0].points++;
  sortFunction(1);
};
const challengerSidePoint = () => {
  sortFunction(0);
};
function sortFunction(p: number) {
  sortedTeams.value.forEach((team) => {
    if (team.position === p) {
      // eerste naar ondere
      team.position = sortedTeams.value.length;
    }
    team.position = Math.max(0, team.position - 1);
  });
}
function deleteTeam(n: string) {
  teams.value = teams.value.filter((team) => team.label !== n);
}
</script>

<template>
  <div class="bg-gradient-to-b from-black to-teal-800 text-white min-h-[100vh]">
    <div class="container py-8 px-4 flex flex-col gap-8">
      <div class="relative flex flex-col gap-4">
        <div class="flex justify-center">
          <h1 class="text-3xl italic w-fit relative">
            <Icon
              name="iconoir:bright-crown"
              class="absolute -top-4 -left-3 rotate-[-20deg] text-yellow-500"
            />
            <span class="z-10 relative">King of the court</span>
          </h1>
        </div>
        <div v-if="adding && teams.length < 5">
          <form class="flex flex-col gap-4" @submit.prevent="saveTeam">
            <input
              v-model="newTeam"
              type="text"
              placeholder="Enter name"
              class="p-2 px-3 text-black"
              ref="teamName"
            />
            <select v-model.number="newTeamCard" class="p-2 text-black">
              <option value="" disabled selected>Pick card</option>
              <option
                v-for="{ id, label, color } in cards"
                :key="id"
                :value="id"
                class="text-orange-400 disabled:text-gray-200"
                :disabled="teams.some((teams) => teams.position === id)"
              >
                {{ label }}
              </option>
            </select>
            <button
              :disabled="isDisabled"
              class="disabled:bg-gray-300 disabled:text-gray-600"
            >
              Add team
            </button>
          </form>
        </div>
        <div>
          <button
            class="bg-red-700 w-full"
            v-if="adding && teams.length > 2"
            @click="doAdd(false), doStartMatch(true)"
          >
            Start match
          </button>
          <div v-if="adding && teams.length > 4">
            Max amount of teams reach. Start the match!
          </div>
        </div>

        <div class="flex flex-col gap-4" v-if="adding">
          <TeamBlock
            v-for="team in sortedTeams"
            :key="team.id"
            :name="team.label"
            :points="team.points"
            :leader="team.isLeader"
            :cardIcon="cards[team.position].cardIcon"
            :color="team.color"
            :adding="adding"
            @delete-team="deleteTeam"
          />
        </div>

        <div v-if="!teams.length" class="no-teams">No teams yet</div>
        <div
          v-if="startMatch"
          class="min-h-[80vh] flex flex-col justify-between h-full"
        >
          <div>
            <div class="scoreboard">
              <div class="flex flex-col gap-8">
                <div class="flex gap-1 px-2">
                  <div
                    :class="`${sortedTeams[0].color}`"
                    class="w-1/2 transform -skew-x-12 px-4 py-1 flex flex-col"
                  >
                    <div class="text-2xl text-black">Kingside</div>
                    <div class="flex gap-2 relative justify-between w-full">
                      <div class="text-2xl">
                        {{ sortedTeams[0].label }}
                      </div>
                      <div class="text-3xl">{{ sortedTeams[0].points }}</div>
                    </div>
                  </div>
                  <div
                    :class="`${sortedTeams[1].color}`"
                    class="w-1/2 transform -skew-x-12 px-4 py-1 flex flex-col"
                  >
                    <div class="text-2xl text-black">Challenger</div>
                    <div class="flex gap-2 relative justify-between w-full">
                      <div class="text-2xl">
                        {{ sortedTeams[1].label }}
                      </div>
                      <div class="text-3xl">{{ sortedTeams[1].points }}</div>
                    </div>
                  </div>
                </div>
                <div>
                  <h2>Up next</h2>
                  <div
                    v-for="{ label, points } in sortedTeams.slice(2)"
                    class="text-xl flex justify-between"
                  >
                    <div>{{ label }}</div>
                    <div>{{ points }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div>
              <h1>Ranked teams</h1>
              <div class="flex flex-col gap-4">
                <div
                  v-for="(
                    { id, label, isLeader, points }, index
                  ) in rankedTeams"
                  :key="id"
                  :class="[index === 0 ? 'leader text-orange-700' : '']"
                >
                  Teamname : {{ label }}
                  <br />
                  Score : {{ points }}
                </div>
              </div>
            </div>

            <div class="flex gap-4 mb-5 w-full">
              <button
                class="button-big bg-gradient-to-r from-cyan-500 to-emerald-500"
                @click="kingSidePoint"
              >
                Point king side
              </button>
              <button
                class="button-big bg-gradient-to-r to-cyan-500 from-emerald-500"
                @click="challengerSidePoint"
              >
                Point challenger side
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
