<script setup lang="ts">
import { ref } from 'vue'

const count = ref(0)
</script>

<template>
    <vm-button
        @click="count++"
        appearance="ghost"
        hide-icon="true"
        >Count is: {{ count }}</vm-button
    >
</template>
