<script setup lang="ts">
import { ref } from 'vue';
defineProps(['name', 'cardIcon', 'color', 'points', 'adding']);
</script>

<template>
  <div
    :class="`${color}`"
    class="relative overflow-hidden rounded p-2 h-[100px]"
  >
    <div class="text-2xl italic">{{ name }}</div>
    <button
      v-if="adding"
      @click="$emit('deleteTeam', name)"
      class="p-0 bg-transparent hover:text-black"
    >
      <Icon name="f7:trash-circle" class="size-[40px]"></Icon>
    </button>
    <div v-if="!adding">Score : {{ points }}</div>
    <Icon
      v-if="cardIcon && adding"
      :name="cardIcon"
      class="absolute left-auto -top-8 rotate-[25deg] -right-8 size-32"
    ></Icon>
  </div>
</template>
