@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  button {
    @apply py-2 px-4 rounded-lg bg-orange-500 text-white;
  }
  .button-big {
    @apply w-1/2 text-l hover:text-black transition duration-500;
  }
}

body {
  font-family: 'Bebas Neue', sans-serif;
}
